@model IEnumerable<Employees.Data.Models.Employee>

@{
    ViewBag.Title = "Index";
    ViewBag.Message = "Hello !";
}

<h2>@ViewBag.Message</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_Employee", item)
}


